body {
		background-image: url("site felipe/imagens/fundo3.jpg");
		background-repeat:repeat;
		background-size: 100%;
		font-family: 'lato';
		line-height: 1.5;
		color: white;
		font-family: 'Oswald', sans-serif;
		
	}	
	main {
		background-color: rgba(1, 0, 25, 0.8);
		padding: 5px 50px;
		margin-top: 20px;
		border-radius: 10px;
	}
	.logo, .manchete, .headline {
		margin: 0;
		text-align: center;
	}
	.titulo {
		margin: 0;
		text-align: center;
	}
	.conteudo {
		margin: 0;
		text-align: center;
	}
	.video {
		margin: 0;
		text-align: center;
	}
	
	body {background-color:	rgb(1,1,111);}